<!doctype html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org" xmlns:sec = "https://www.thymeleaf.org">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin = "anonymous">
    </head>
    <body>
        <header th:fragment = "header">
            <nav class = "navbar navbar-expand-lg bg-dark">
                <div class = "container-fluid">
                    <a class = "navbar-brand text-white" href = "/"><img th:src = "@{/images/logo.png}" alt = "" width = "100px" height = "33px"></a>
                    <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded = "false" aria-label = "Toggle navigation">
                        <span class = "navbar-toggler-icon"></span>
                    </button>
                    <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
                        <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
                            <li class = "nav-item">
                                <a class = "nav-link text-white" href = "/now-showing">Phim đang chiếu</a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link text-white" href = "/coming-soon">Phim sắp chiếu</a>
                            </li>
                            <li class = "nav-item dropdown">
                                <a class = "nav-link dropdown-toggle text-white" href = "#" role = "button" data-bs-toggle = "dropdown" aria-expanded = "false">Thể loại</a>
                                <ul class = "dropdown-menu">
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Hành Động'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Hành Động</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Tình Cảm'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Tình Cảm</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Hài'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Hài Hước</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Tâm Lý'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Tâm Lý</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Chiến Tranh'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Chiến Tranh</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Thể Thao'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Thể Thao</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Hoạt Hình'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Hoạt Hình</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Viễn Tưởng'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Viễn Tưởng</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Phiêu Lưu'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Phiêu Lưu</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Khoa Học'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Khoa Học</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action = "@{/genre}" method = "post">
                                            <input type = "hidden" th:value = "'Kinh Dị'" name = "genre">
                                            <button class = "dropdown-item" type = "submit">Kinh Dị</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class = "nav-item dropdown">
                                <a class = "nav-link dropdown-toggle text-white" href = "#" role = "button" data-bs-toggle = "dropdown" aria-expanded = "false">Về OOP16</a>
                                <ul class = "dropdown-menu">
                                    <li>
                                        <a class = "dropdown-item" href = "/about-us">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a class = "dropdown-item" href = "/user-manual">Hướng dẫn sử dụng OOP16</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class = "d-flex search-container" role = "search" th:action = "@{/search}" method = "get">
                            <input name = "keyword" class = "form-control me-2" type = "search" placeholder = "Search" aria-label = "Search">
                            <button class = "btn btn-outline-success" type = "submit">Search</button>
                        </form>
                        <div sec:authorize = "isAuthenticated()" class = "d-flex align-items-center">
                            <a class = "nav-link text-white me-2" href = "/profile" style = "padding-right: 20px">Hồ sơ</a>
                            <form action = "/logout" method = "post" class = "mb-0">
                                <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}">
                                <button type = "submit" class = "btn btn-danger">Đăng xuất</button>
                            </form>
                        </div>
                        <div sec:authorize = "!isAuthenticated()">
                            <a class = "nav-link text-white" href = "/login" sec:authorize = "!isAuthenticated()" style = "padding-right: 20px">Đăng nhập / Đăng ký</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin = "anonymous"></script>
    </body>
</html>
