.screen {
    background: rgb(71, 165, 209);
    height: 70px;
    width: 75%;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(19, 120, 145, 0.7);
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.checkbox-container label {
    width: calc(100% / 24);
    text-align: center;
    margin: 0 5px 5px 5px;
    font-size: 1em;
}

.block1,
.block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block1 {
    margin-bottom: 40px;
}

.input-btn {
    display: none;
}

input:checked + label {
    background-color: red;
}

input:disabled + label {
    background-color: grey;
    cursor: not-allowed;
}

input:disabled + label:hover {
    background-color: gray;
}

.btn1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn1:hover {
    background-color: burlywood;
    color: black;
}

.btn-success:hover {
    background-color: #ffa33f;
    color: black;
}

@media (min-width: 993px) {
    .btn-outline-success {
        margin-right: 50px;
    }
}

@media (max-width: 1399px) {
    .checkbox-container label {
        width: calc(100% / 25);
    }
}

@media (max-width: 993px) {
    .checkbox-container label {
        width: calc(100% / 13);
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .checkbox-container label {
        width: calc(100% / 13);
        font-size: 0.8em;
    }
}

@media (max-width: 576px) {
    .checkbox-container label {
        width: calc(100% / 6);
        font-size: 0.8em;
    }

    .btn1 {
        width: 100%;
        padding: 10px;
    }
}