.swiper-slide {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.swiper-slide .poster-button {
    cursor: grab;
}

.swiper-slide .poster-button:active {
    cursor: grabbing;
}

.swiper-slide img {
    width: 92%;
    height: auto;
    border-radius: 15px;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.swiper-button-next {
    right: 1%;
}

.swiper-button-prev {
    left: 1%;
}

@media (max-width: 576px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}